<div class="cat-options-container">
    <div class="cat-options">
        <h1>ALL</h1>
        <div class="options-container">
            <div class="options">
                <a href="/categories/all">All</a>
            </div>
            <div class="options">
                <a href="/categories/Bedroom">Bedroom</a>
            </div>
            <div class="options">
                <a href="/categories/Living-Room">Living Room</a>
            </div>
            <div class="options">
                <a href="/categories/Outdoor">Outdoor</a>
            </div>
            <div class="options">
                <a href="/categories/Office">Office</a>
            </div> 
        </div>
    </div>
</div>