<footer>
    <div class="footer">
        <div class="newsletter">
            <h1>Newsletter</h1>
            <div class="subscribe">
                <input type="text" placeholder="your@email.com">
                <button>Subscribe</button>
            </div>
        </div>
        <div class="foot-links">
            <div class="footerlinks">
                <a href="">About</a>
                <a href="">Store Locator</a>
                <a href="">FAQs</a>
                <a href="">News</a>
                <a href="">Careers</a>
                <a href="">Contact Us</a>
            </div>
            <div class="designer">
                <h1>Design by Rorisang</h1>
            </div>
        </div>
    </div>
</footer>
<script src="../app.js"></script>
</body>
</html>