<body>
    <nav>
     <div class="navbar">
         <div class="logo">
             <a href="/home">
                 <img width="95px" height="75px" src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/11/furniture-logo.jpg" alt="TELDOR">
             </a>
             <a href="/home"><span class="logo-txt">TELDOR</span></a>
         </div>
         <div class="links">
             <div class="nav-item"><a href="/home">Home</a></div>
             <div class="nav-item"><a href="/categories/all">Categories</a></div>
             <div class="nav-item"><a href="#">Account</a></div>
             <div class="nav-item"><a href="#">Cart</a></div>
         </div>
     </div>
    </nav>